
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">
    <style>
        .box {
            text-align: center
        }
    </style>
</head>
<body style="background-color:grey">
    <div class="box">
        <div id="transferUser"></div>
        <a class="layui-btn layui-btn-normal layui-btn-xs btn" id="bindBtn">绑定</a>
    </div>

    <script src="../layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        layui.use(function () {
            var transfer = layui.transfer,
                layer = layui.layer,
                $ = layui.jquery,
                miniTab = layui.miniTab;

            var roleId = window.location.search.substr(4);
            $.ajax({
                url: '/RoleInfo/GetUserInfoOptions',
                type: "get",
                data: { roleId: roleId },
                success: function (res) {
                    if (res.code == 200) {
                        console.log(res);
                        // 渲染
                        transfer.render({
                            elem: '#transferUser',
                            data: res.data.options,
                            title: ["待绑定用户", "已绑定用户"],
                            value: res.data.userIds,
                            showSearch: true,
                            parseData: function (result) {
                                return {
                                    "value": result.id, // 数据值
                                    "title": result.userName // 数据标题
                                }
                            },
                            id: "demo-inst"
                        })


                    } else {

                    }
                }
            })
            $("#bindBtn").click(function (res) {
                // 批量事件
                var getData = transfer.getData('demo-inst'); // 获取右侧数据
                // layer.alert(JSON.stringify(getData));
                var userIds = [];
                for (var i = 0; i < getData.length; i++) {

                    userIds.push(getData[i].value);
                }
                console.log(userIds);
                $.ajax({
                    url: '/RoleInfo/BindUser',
                    type: 'post',
                    data: {
                        userIds: userIds,
                        roleId: roleId
                    },
                    success: function (res) {
                        if (res.code == 200) {

                            var index = layer.alert(res.msg, {
                                title: '最终的绑定信息'
                            }, function () {
                                var index = layer.alert(res.msg, {
                                    title: '最终的绑定信息'
                                }, function () {
                                    // 关闭弹出层
                                    layer.close(index);
                                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(iframeIndex);
                                    parent.location.reload();
                                });
                            });
                        } else {
                            layer.alert(res.msg);
                        }
                    }
                })

            });
        });
    </script>
</body>
</html>
